@page "/test"
@using MATSys.Automation
<div class="row">
    <div class="col-6" style=" height:80vh">
        <ListItemViewer Items="@tp.Items" OnItemSelected="Click" />
    </div>
    <div class="col-6">
        <div class="row" style="background:antiquewhite;height:90%">
            <TestItemEditor Item="@tp.CurrentTestItem"></TestItemEditor>
        </div>
        <div class="row" style="background:aliceblue;height:10%">@Body</div>
    </div>
</div>

@code {
    private TestPackage tp;
    public RenderFragment Body { get; set; }

    protected override void OnInitialized()
    {
        tp = new TestPackage();

        for (int i = 0; i < 20; i++)
        {
            tp.Items.Add(new TestItem()
                {
                    Name = $"Item{i}",
                    Description = $"This is TestItem#{i}",
                    Order = i,
                    Skip = false,
                    Retry = 5,

                    Method = "",
                    Parameters = { { $"Number", i } },
                    Conditions = { { $"Limit", i * 10 } },
                });
        }
    }

    protected void Click(TestItem item)
    {
        tp.CurrentTestItem = item;
        Body =@<button @onclick="AA">@item.Name</button>;
    }
    protected void AA()
    {
        tp.CurrentTestItem.Name = DateTime.Now.ToString();
    }
}

