@page "/test"

@using MATSys.Automation

<div class="container-fluid">
    <h1 style="">Execution Panel</h1>
    <div class="progress">
        <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="70" style="width:70%">test</div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <table class="table-hover">
                <thead>
                    <tr>
                        <th width="35">#</th>
                        <th width="150">Item Name</th>
                        <th>Command</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in tp.Items)
                    {
                        <tr>
                            <td>@item.Order</td>
                            <td>@item.Name</td>
                            <td>@item.Worker.ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-5" style="">
            <div class="row row-first">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="row row-second">
                test
            </div>
            

        </div>
    </div>
</div>
<div class=" container-fluid" style="background: green;height:500px;">

</div>

@code {
    private TestPackage tp;
    public RenderFragment Body { get; set; }
    protected override void OnInitialized()
    {
        tp = new TestPackage();

        for (int i = 0; i < 30; i++)
        {
            tp.Items.Add(new TestItem()
                {
                    Name = $"Item{i}",
                    Description = $"This is TestItem#{i}",
                    Order = i,
                    Skip = false,
                    Retry = 5,
                    Worker = new Worker()
                    {
                        Alias = "mod",
                        MethodName = "",
                        Parameters = { { $"Number", i } },
                        Conditions = { { $"Limit", i * 10 } },
                    }
                });
        }
    }

    protected void Click()
    {
        Body =@<button>button</button>;
    }

}

