.table-responsive {
    table-layout: fixed;
    border-collapse: collapse;
    scroll-margin-top:50px;
}

/*    .table-responsive tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 50vh;
    }

        .table-responsive tbody th {
            width: 100px;
        }

        .table-responsive tbody td {
            width: 130px;
        }

    .table-responsive thead {
        display: block;
    }

        .table-responsive thead th {
            width: 100px;
        }
*/